@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #a3a3a3;
  --background-color: #101010;

  --header-font-size: 34px;
  --general-font-size: 20px;
  --small-font-size: 14px;
  --link-text-font-size: 16px;
  --sub-header-font-size: 28px;
  --menu-text-font-size: 24px;
}

.site-container {
  background-color: var(--background-color);
  min-height: 100vh;
}

.header {
  font-size: var(--header-font-size);
  color: var(--text-primary-color);
}

.text-general {
  font-size: var(--general-font-size);
  color: var(--text-primary-color);
  max-width: 600px;
}

.link-text {
  font-size: var(--small-font-size);
  color: var(--text-secondary-color);
}

.menu-text {
  font-size: var(--menu-text-font-size);
  color: var(--text-primary-color);
}

.mobile-scroll-link {
  border: 1px solid white;
  font-size: var(--menu-text-font-size);
  color: var(--text-primary-color);
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 400;
}

.subheader {
  font-size: var(--sub-header-font-size);
  color: var(--text-primary-color);
}
